@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --purple: #4b1d3a;
  --light: #f1f3fa;
  --dark: #1c1c1c;
  --yellow: #ffb81c;
  --red: #f1752b;
  --green: #6ebf54;
  --orange: #f1752b;
  --grey: #f3f2f4;
  --hfont: Mukta, sans-serif;
  --cfont: Montserrat, sans-serif;
  --headfont: "Be Vietnam Pro", Sans-serif;
  --font_01: Roboto, sans-serif;
}

.accordion-item {
  border: unset !important;
}

body {
  font-size: 14px;
  font-family: var(--cfont);
  background-color: #f1f1f1;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--hfont);
}

.text-red {
  color: var(--red) !important;
}

.text-yellow {
  color: var(--yellow) !important;
}

.text-orange {
  color: var(--orange) !important;
}
.text-green {
  color: var(--green);
}

.bg-green {
  background-color: var(--green);
}

.border-bottom_01 {
  border-bottom: unset;
}

.hero-text {
  font-family: var(--headfont);
  font-weight: 400;
  font-size: 24px;
  color: var(--purple);
}
.alc {
  align-items: center;
}

.hero-text_02 {
  font-size: 34px;
}
.font_02 {
  font-family: var(--headfont);
}
.title {
  font-family: var(--headfont);
  font-size: 24px;
}
.bg-orange {
  background-color: var(--orange);
}
.bg-yellow {
  background-color: var(--yellow);
}
.title_01 {
  font-family: var(--headfont);
  font-size: 24px;
}
.bg-orangeGradient {
  background-image: linear-gradient(90deg, var(--green), var(--green));
  background-size: cover !important;
}
.subtitle {
  line-height: 1.5em;
  font-family: var(--headfont);
  font-size: 14px;
}

.bg-dark {
  background: var(--dark) !important;
}

.bg-grey {
  background: var(--grey) !important;
}

.bg-red {
  background-color: var(--red);
}

.bg_grad_01 {
  background-color: var(--purple);
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 99;
}

.hero-img {
  height: 300px;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.bg_testimonals {
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background: #00000099;
}

.bg_apply {
  background-repeat: no-repeat;
  height: 180px;
  background-size: cover;
  background-position: center;
  border-radius: unset;
}

.data {
  position: absolute;
  bottom: 0;
}

.data span {
  font-size: 12px;
}

.data img {
  border: solid 1px var(--purple);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  width: 85px !important;
}

.data_01 {
  border-radius: 0 0 25px 25px;
  border: solid 1px var(--purple);
}

.data_01 p {
  font-size: 12px;
}

.zoho_form {
  height: 400px;
  width: 100%;
}

.btn {
  transition: 0.5s;
  font-weight: 500;
}

.bg-purple-gradient {
  background-image: linear-gradient(180deg, #47143d 0%, #632156 100%);
}

.sticky-top {
  position: absolute;
  /* top: -100px; */
  transition: 0.5s;
}

.navbar .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 10px 0 3px;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  outline: none;
}

.shadow .navbar .navbar-nav .nav-link {
  color: #000;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link.active {
  color: var(--dark);
  border-bottom: solid 4px var(--orange);
  font-weight: 500;
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

.h_nav {
  padding: 0 10px;
  background-color: #fff;
}
.hero_mobile img {
  object-fit: cover;
  height: 475px;
  object-position: right;
}

.border_01 {
  border-right: 1px solid var(--bs-white);
  border-bottom: 1px solid var(--bs-white);
  padding-bottom: 10px;
}

.form_img_01 {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}

.bg-red-01:hover img {
  opacity: 0.1;
}

.bg-red-01:hover .content {
  display: flex !important;
  position: absolute;
  color: #fff;
  right: 46%;
  top: 50%;
  z-index: 9;
}

.usp_01 {
  padding: 10px 15px;
  border-radius: 7px;
  background-blend-mode: overlay;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 70px;
}

.usp_01 .rank {
  font-size: 24px;
  font-family: var(--cfont);
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: unset;
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar .navbar-nav {
    margin-top: 15px;
    border-top: 1px solid #eee;
  }
}
.hero_logo_01,
.hero_logo_02 {
  width: auto;
  object-fit: contain;
}
.c_btn {
  background-color: var(--red);
  border: solid 1px var(--bs-white);
  color: var(--bs-white);
  /* border-radius: 0; */
  font-size: 14px;
}
.c_btn:hover {
  color: var(--dark);
  background-color: var(--bs-white);
  border: 1px solid var(--red);
}
.hero_logo_01 {
  height: 33px;
}
.navbar-toggler {
  padding: 5px;
}
@media (min-width: 992px) {
  .hero_logo_01 {
    height: 50px;
  }
  .navbar .nav-item .dropdown-menu {
    display: block;
    border: none;
    margin-top: 0;
    top: 150%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}
.copyright_001 {
  position: absolute;
  bottom: 0;
  right: 32%;
}

.copyright {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.copyright a:hover {
  color: var(--red) !important;
}

.box_shadow img {
  height: 85px;
  width: 100%;
  object-fit: contain;
}

.border-purple {
  border: 1px solid var(--purple);
}

.border-purple_01 {
  border-top: 1px solid var(--light);
  border-bottom: 1px solid var(--light);
}

.about_logo img {
  height: 40px;
  width: 100%;
  object-fit: contain;
}
.left_button {
  width: 50%;
  top: unset;
  bottom: 0;
  left: 0;
  position: fixed;
  border-radius: 0 !important;
  z-index: 1021;
}
.testimonals {
  background-size: cover;
}
.testimonals_01 .owl-nav {
  display: none;
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.testimonals_01 .owl-item .test_002 {
  background-color: white;
  color: #000;
}
.testimonals_01 .owl-item.center .testimonial-items {
  scale: 1.1;
}
.comma {
  height: 25px;
  object-fit: contain;
}
.testimonals_01 .owl-item.center .comma {
  filter: invert();
}
.testimonals_01 .owl-nav .owl-prev,
.testimonals_01 .owl-nav .owl-next {
  margin-left: 15px;
  width: 50px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bs-white);
  background-color: var(--green);
  /* border-radius: 50%; */
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  transition: 0.5s;
}
.small_01 {
  font-size: 10px;
}

.comma {
  height: 25px;
  object-fit: contain;
}
.modal.show .modal-dialog {
  top: 8%;
}

.banner_text {
  position: absolute;
  top: 25%;
}

.admission .nav-link {
  color: var(--bs-dark);
  font-weight: 500;
  border: solid var(--red) 1px;
  width: 100%;
  border-radius: 15px;
}

.admission .nav-link.active {
  color: var(--bs-white);
  border-radius: 10px;
  background-color: var(--purple);
  border: solid var(--purple) 1px;
  font-weight: 700;
}

.modal-content .form_01 {
  padding: 0 !important;
  margin: 0 !important;
}

.accordion-button:focus {
  z-index: 3;
  border-color: unset;
  outline: 0;
  box-shadow: unset;
}
.iconContainer {
  background-color: brown;
  padding: 10px;
  border-radius: 30px;
}

.iconContainer img {
  width: 30px;
  height: 30px;
  filter: invert(1);
}
.mobilePrograms .accordion-button:not(.collapsed)::after {
  padding: 14px 20px;
  background-size: 10px 10px !important;
}

span.brownTriangle {
  width: 15px;
  height: 25px;
  background-color: brown;
  transform: rotate(45deg);
  position: absolute;
  left: -12px;
}
ol,
ul {
  padding-left: 1rem;
}

.owl-carousel .owl-stage {
  display: flex;
}

.testimonial-items {
  display: flex;
  flex: 1 0 auto;
  height: 100%;
}

.keyhigh {
  background-color: var(--red);
}

.your_path .col-lg-6 {
  display: grid;
}
.your_path h6 {
  color: white;
  font-size: 14px;
}
.owl-carousel .owl-item {
  transition: transform 1s ease; /* Ensures smooth transitions */
}
.testi_01 img {
  height: 85px;
  object-fit: contain;
}
.testi_01 p {
  font-size: 12px;
}
.your_path .border {
  /* background-color: var(--orange) */

  background-image: linear-gradient(90deg, var(--red), var(--orange));
}

.bg_applynew {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
  height: 400px;
}

.form_03 {
  background-size: cover;
  height: 440px;
  border-radius: 25px 25px 0 0;
}

.form_bg_01 {
  border-radius: 0 0 25px 25px;
  border: solid 2px var(--purple);
}

.back-to-top {
  position: fixed;
  display: flex !important;
  justify-content: center;
  align-items: center;
  right: 30px;
  bottom: 50px;
  z-index: 99;
  font-size: 16px;
  width: 48px;
  height: 48px;
  border: solid 1px var(--grey);
  background-color: var(--red) !important;
  color: var(--bs-white) !important;
}
.learning_001 {
  background: #ffffffa3;
  position: absolute;
  top: 42%;
  z-index: 1;
  width: 70%;
  right: 14%;
}
.hero_section {
  cursor: pointer;
}

.your_path_img {
  height: 40px;
  object-fit: contain;
}

.modalLogo img {
  height: 100%;
  width: 110px;
  object-fit: contain;
}
.modalLogo h4 {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
.modalLogo {
  width: 100%;
}
.modal-header .btn-close {
  margin: 0px;
}
/* .modal-header{
    padding:5px 1rem;
} */
/* ///////////////////////////////avantika */
.right_button {
  width: 50%;
  top: unset;
  bottom: 0;
  right: 0;
  position: fixed;
  border-radius: 0 !important;
  z-index: 1021;
}
.advertise_01 h3 {
  font-size: 1.7rem;
  font-weight: 600;
}
.ctasize {
  font-size: 20px;
}
.stat_01 img {
  height: 60px;
}
.footerlogo_01 {
  height: 100px;
  width: auto;
  object-fit: contain;
}
.video_height {
  width: 100%;
  object-fit: cover;
  border: unset;
  border-radius: unset;
}
.col_md_6 {
  width: 50% !important;
}
.filter {
  filter: invert() !important;
}
/* //////////////////////// */
.typing-container {
  font-size: 2em;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid transparent;
}

.cursor {
  display: inline-block;
  animation: blink 0.7s steps(2, start) infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* / */ /* ===================== */
.beyond-academics-section {
  /* background-color: #f8f9fa; */
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #343a40;
}

.section-subtitle {
  font-size: 1.2rem;
  color: #6c757d;
}

.card {
  /* border: none; */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.list-unstyled li {
  display: flex;
  margin-bottom: 0.5rem;
}

/* ===================== */
.learning-projects-section {
  background-color: #ffffff;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #007bff;
}

.image-container {
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.image-container:hover img {
  transform: scale(1.1);
}

.image-container:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/* ///////////////////////////////////////////////// */

/* USP - Section - START */
.uspImgBox {
  height: 50px;
  width: 50px;
  min-width: 50px;
  background-image: linear-gradient(90deg, var(--red), var(--orange));
  border-radius: 100%;
}
.uspImgBox img {
  height: 30px;
  width: 30px;
  /* filter: invert(1); */
}
.uspHeading {
  color: #1c1c1c;
}
.uspSection .studentBgImg {
  height: 300px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.uspImgBox:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 0.5rem;
  background: var(--red);
  bottom: -0.5rem;
  left: 25px;
}
.uspImgBox:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 0.5rem;
  background: var(--red);
  top: -0.5rem;
  left: 25px;
}
.uspContainer:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.collab_001 {
  width: 140px;
  object-fit: contain;
}
.beyond-academics-section .accordion-button:not(.collapsed) {
  color: white;
  background-color: var(--red);
  box-shadow: unset;
}
.beyond-academics-section .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}
.beyond-academics-section .accordion-button:not(.collapsed) i {
  color: white !important;
}
.beyond-academics-section .accordion-button:hover {
  background-color: var(--red);
  color: white;
}
/* .accordion-header:hover .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
} */
.beyond-academics-section .accordion-button:hover i {
  color: white !important;
}
#usp b {
  color: var(--red);
}

/* owl nav */
.nav_center_01 .owl-nav .owl-prev,
.nav_center_01 .owl-nav .owl-next {
  margin-left: 15px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue);
  background-color: var(--yellow);
  border-radius: 50%;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  transition: 0.5s;
}

.nav_center_01 .owl-nav {
  position: relative;
  width: 100px;
  right: 0;
  bottom: -16px;
  left: calc(50% - 50px);
}

.nav_center_01 .owl-prev {
  position: absolute;
  left: 0;
  top: 0;
}

.nav_center_01 .owl-nav .owl-next {
  position: absolute;
  right: 0;
  top: 0;
}

@media (min-width: 768px) {
  .col_20 {
    width: 20% !important;
  }

  .hero_mobile img {
    object-fit: cover;
    height: 860px;
  }

  .bg_applynew {
    height: unset;
  }

  .zoho_form {
    height: 675px;
    width: 100%;
  }

  .bg_apply {
    height: 300px;
  }

  .gallary .one,
  .gallary .three {
    height: 300px;
  }
  .gallary .two {
    object-fit: cover;
  }

  .form_03 {
    height: 580px;
  }
}
.shadow {
  background-color: white;
  position: sticky !important;
  padding: 5px 10px;
}

@media (min-width: 600px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 19.2px;
    padding-right: 19.2px;
  }
}

@media (min-width: 1100px) {
  .container {
    max-width: 1280px;
    width: 1180px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
    width: 1500px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
    width: 1820px;
  }
}

/* //// */
.hero_section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.55);  */
  z-index: -1;
}

.hero_content {
  position: relative;
  z-index: 1;
  max-width: 900px;
  margin: auto;
  color: #fff;
}

.services img {
  height: 30px;
}
.services p {
  font-size: 13px;
}
.services .service-div:hover .outer {
  display: none;
}
.services .service-div:hover .inner {
  display: flex !important;
}
/* Flip card container */
.flip-card {
  perspective: 1000px; /* Enables 3D effect */
  height: 130px; /* adjust as needed */
}

/* Inner wrapper for front and back */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* Flip effect on hover */
.service-div:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Front & Back faces */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* hide back when facing away */
  border-radius: 10px;
  padding: 15px;
  background: #fff;
}

/* Front content */
.flip-card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Back content */
.flip-card-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  /* background: #f8f9fa; */
}
.jcc {
  justify-content: center;
}
.aic {
  align-items: center;
}
.title_01 {
  position: relative;
  display: inline-block; /* keeps lines close to text */
}

.title_01::before,
.title_01::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 30px; /* length of line */
  height: 2px; /* thickness of line */
  background: var(--green);
}

.title_01::before {
  left: -35px; /* adjust spacing */
  transform: translateY(-50%);
}

.title_01::after {
  right: -35px; /* adjust spacing */
  transform: translateY(-50%);
}
.technology .nav-tabs .nav-link {
  color: #000;
}
.technology .nav-tabs .nav-link {
  border-bottom: 1px solid #0000003f;
  border-top: unset;
  border-left: unset;
  border-right: unset;
}

.technology .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-bottom: 2px solid #f2762c;
  color: #f2762c;
}
.technology .nav-tabs {
  border-bottom: unset;
}
.technology img {
  height: 70px;
  object-fit: contain;
}
.brands img {
  padding: 10px;
  height: 65px;
  object-fit: contain;
}
.about_001 img {
  height: 44px;
  padding-right: 10px;
}
.about-bg {
  height: 450px;
  width: 100%;
  object-fit: contain;
}

@media (min-width: 992px) {
  .shadow {
    padding: 15px 10px;
  }
  .uspSection .studentBgImg {
    height: 100%;
  }
  .collab_001 {
    width: 165px;
  }
  #typing {
    color: white;
  }
  .typing-container {
    color: white;
  }
  .copyright {
    background-size: cover;

    background-position: top;
  }

  .testimonals_01 .owl-item.center .testimonial-items {
    scale: 1.15;
  }
  .filter_pc {
    filter: invert();
  }
  ol,
  ul {
    padding-left: 2rem;
  }
  .your_path_img {
    height: 60px;
    object-fit: contain;
  }

  .your_path h6 {
    color: #000;
    font-size: 24px;
  }

  .video_height {
    /* border: solid 1px; */
    border-radius: 15px;
  }

  .gallary .one,
  .gallary .three {
    height: 180px;
    object-fit: cover;
  }

  .bg_applynew {
    background-size: contain;
    background-position: top;
    border-radius: 10px;
    height: 500px;
  }

  .back-to-top {
    bottom: 30px;
  }

  .border-end_01:not(:last-child) {
    border-right: 1px solid var(--purple);
  }

  .testimonals_02 {
    border-radius: 25px 0 0 25px;
    height: unset;
  }

  .form_bg_01 {
    border-radius: 0 25px 25px 0;
    border: solid 2px var(--purple);
  }

  .border_01:not(:last-child) {
    border-right: 1px solid var(--bs-white);
    border-bottom: unset;
    padding-bottom: 10px;
  }

  .border_01:nth-child(4) {
    border-right: unset !important;
  }

  .bg_apply {
    height: unset;
    border-radius: 0 50rem 50rem 0;
    border-bottom-left-radius: unset !important;
    border-top-left-radius: unset !important;
  }

  .modal-body .zoho_form {
    height: 400px;
  }

  .placement_01 .owl-nav .owl-prev,
  .placement_01 .owl-nav .owl-next {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }

  .placement_01 .owl-nav {
    bottom: -30px;
  }

  .border-bottom_01 {
    border-bottom: solid 1px var(--purple);
  }

  .border-bottom_02 {
    border-bottom: solid 1px var(--bs-white);
  }

  .right_button {
    width: unset;
    top: 46%;
    right: 17px;
    left: unset;
    bottom: unset;
    transform: rotate(90deg) translate(50%);
    transform-origin: right;
    border-radius: 0px 0px 5px 5px !important;
    color: white;
    background-color: var(--orange);
    border: solid 1px var(--orange);
  }

  .company_01 img {
    height: 60px;
  }

  .mt_10 {
    margin-top: -8rem;
  }

  .mb-90 {
    margin-top: 3rem;
    margin-bottom: 8rem;
  }

  .zoho_form {
    height: 400px;
  }

  .form_03 {
    height: unset;
    border-radius: 25px 0 0 25px;
  }

  .hero-img {
    height: 90vh;
  }

  .usp_01 .rank {
    font-size: 40px;
  }

  .title {
    font-size: 40px;
  }

  .subtitle {
    font-size: 12px;
  }

  .h_nav {
    padding: 5px 0px;
  }

  .title_01 {
    font-size: 34px;
  }

  .your_path .box_003 {
    background-color: var(--bs-white) !important;
    background-image: unset;
  }
  .title_01::before {
    left: -70px; /* adjust spacing */
  }

  .title_01::after {
    right: -70px; /* adjust spacing */
  }

  .title_01::before,
  .title_01::after {
    width: 60px; /* length of line */
  }

  .testimonals_01 .owl-nav {
    bottom: -25px;
  }
}
